@model CriasApp.Models.RegistoSensores

@{
    ViewData["Title"] = "Delete";
}

<h3>Estas seguro de borrar esto?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.freCardiaca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.freCardiaca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.preSanguinea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.preSanguinea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.freRespiratoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.freRespiratoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.temperatura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.temperatura)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdSensor" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la Lista</a>
    </form>
</div>
